aioconsole
aiokatcp
aiomonitor
async-timeout
attrs
bokeh
botocore
certifi
chardet
dask
decorator
defusedxml
docutils
fakeredis
future
h5py
hiredis
idna
ipaddress
jinja2
jmespath
katpoint==0.7
katversion
llvmlite
markupsafe==1.0
msgpack
netifaces
numba
numpy
packaging
pillow
pyephem
pygelf
pyparsing
python-dateutil
pyyaml
redis
requests
six
spead2
terminaltables
toolz
tornado==5.1.1
urllib3

katdal @ git+https://github.com/ska-sa/katdal
katsdpservices @ git+https://github.com/ska-sa/katsdpservices
katsdptelstate @ git+https://github.com/ska-sa/katsdptelstate
