aiokatcp
attrs==18.1.0
certifi
chardet
dask
decorator
defusedxml
fakeredis
future
hiredis
idna
ipaddress
katpoint
katversion
netifaces
numpy
pyephem
redis
requests
six
spead2
toolz
urllib3

git+ssh://git@github.com/ska-sa/katdal#egg=katdal
git+ssh://git@github.com/ska-sa/katsdptelstate#egg=katsdptelstate
git+ssh://git@github.com/ska-sa/katsdpservices#egg=katsdpservices
