aioconsole
aiokatcp
aiomonitor
async-timeout
attrs
bokeh
botocore
certifi
chardet
cityhash
dask
decorator
docutils
fakeredis
future
h5py
hiredis
idna
ipaddress
jinja2
jmespath
katversion
llvmlite
markupsafe
msgpack
netifaces
numba
numpy
packaging
pillow
pyephem
pygelf
pyjwt
pyparsing
python-dateutil
pyyaml
redis
requests
six
spead2
terminaltables
toolz
tornado
urllib3

katdal @ git+https://github.com/ska-sa/katdal
katpoint @ git+https://github.com/ska-sa/katpoint
katsdpservices @ git+https://github.com/ska-sa/katsdpservices
katsdptelstate @ git+https://github.com/ska-sa/katsdptelstate
